body {
    background-color: #484848;
}
.navbar-collapse {
    padding-top: 7px;
}
.logo-navbar {
    padding-left: 18px;
    padding-right: 5px;
    margin-bottom: 10px;
}
.logo-foum {
    height: 70px;

}
.navbar-form {
    margin-left: 10px;
}
@media screen and (max-width: 450px) {
    .navbar-form {
        margin-left: 0px;
    }
}
/*search form */

.icon-addon {
    position: relative;
    color: #555;
    display: block;
    padding-left: 15px;
}
@media screen and (max-width: 450px) {
    .icon-addon {
        position: relative;
        color: #555;
        display: block;
        padding-left: 0px;
    }
}
.icon-addon:after {
    clear: both;
}
.icon-addon.addon-md .glyphicon,
.icon-addon .glyphicon,
.icon-addon.addon-md .fa,
.icon-addon .fa {
    position: absolute;
    z-index: 2;
    left: 10px;
    font-size: 14px;
    width: 20px;
    margin-left: -2.5px;
    text-align: center;
    padding: 10px 0;
    top: 1px
}
.icon-addon.addon-lg .form-control {
    line-height: 1.33;
    height: 40px;
    font-size: 18px;
    padding: 10px 16px 10px 40px;
    width: 450px;
}
@media screen and (max-width: 450px) {
    .icon-addon.addon-lg .form-control {
        height: 40px;
        font-size: 18px;
        width: 300px;
    }
}
.icon-addon.addon-lg .fa,
.icon-addon.addon-lg .glyphicon {
    font-size: 18px;
    margin-left: 0;
    left: 25px;
    top: 2px;
}
@media screen and (max-width: 450px) {
    .icon-addon.addon-lg .fa,
    .icon-addon.addon-lg .glyphicon {
        font-size: 18px;
        margin-left: 0;
        left: 15px;
        top: 2px;
    }
}
.Shto-buton {
    width: 300px;
    height: 40px;
    background-color: #43707B;
    color: white;
    font-weight: bold;
    margin-left: 100px;
    margin-top: 0px;
}
.Shto-buton:hover {
    background-color: #333366;
    color: white;
    font-weight: bold;
}
.Shto-buton:focus {
    background-color: #333366;
    color: white;
    font-weight: bold;
}
@media screen and (max-width: 450px) {
    .Shto-buton {
        width: 300px;
        background-color: #43707B;
        color: white;
        font-weight: bold;
        margin-left: 0px;
        margin-top: 5px;
    }
}
.photo-logout {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}
.navbar-nav > li > a {
    padding-top: 5px;
    padding-bottom: 15px;
}
.navbar-form .form-control {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
}
.modal-title {
    text-align: center;
}
.module-butons {
    background-color: white;
    border: solid 1px black;
}
.module-butons:hover {
    background-color: white;
    border: solid 1px #333366;
    color: #43707B;
}
.img-dropdown:focus {
    background-color: red;
}
.photo-user {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}
.profile-link {
    font-weight: bold;
    padding-left: 10px;
    text-decoration: none;
    color: #43707B;
}
.profile-link:hover {
    font-weight: bold;
    padding-left: 10px;
    text-decoration: none;
    color: #43707B;
}
.post-time {
    color: #A0A0A0;
}
.title-of-panel {
    font-weight: bold;
}
.text-muted {
    text-align: right;
}
/*
    Panel
*/
.panel-heading {
    min-height: 70px;
}
.right-notification-panel{
    margin-top: -16px;
}
.post-number-panel{
    border-left:1px dashed #ccc;
}
/*
    Social-NetWork's
*/

#social-fb:hover {
    color: #3B5998;
}
#social-tw:hover {
    color: #4099FF;
}
#social-gp:hover {
    color: #d34836;
}
#social-em:hover {
    color: #f39c12;
}
.center-block {
    display: block;
    margin-right: 10px;
    margin-left: auto;
}
@media screen and (max-width: 450px) {
    .center-block {
        display: block;
        margin-right: auto;
        text-align: center;
    }
}