<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">    
    <link rel="stylesheet" type="text/css" href="index.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        
        <div class='slider'>
          <div class='slide1 '></div>
          <div class='slide2'></div>
          <div class='slide3'></div>
          </div>

        <nav class="navbar navbar-default ">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="http://localhost/forum/src/main/resources/templates/"><img class="logo-foum" src="logo-forum.png"></a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <div class="icon-addon addon-lg">
                            <input type="text" placeholder="Search" class="form-control">
                            <label for="text" class="glyphicon glyphicon-search" rel="tooltip" title="search"></label>
                        </div>
                    </div>
                    <button type="button" class="btn btn-default Shto-buton" data-toggle="modal" data-target="#myModal">Start New Topic</button>
                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Start New Topic</h4>
                                </div>
                                <div class="modal-body">
                                    <h4>Insert Title:</h4>
                                    <input type="text" class="form-control" placeholder="Insert Title">
                                    <h4>Insert Text:</h4>
                                    <textarea class="form-control shtotextmodule" rows="3" placeholder="Insert Text"></textarea>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default module-butons" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-default module-butons" data-dismiss="modal">Done</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle img-dropdown" data-toggle="dropdown" role="button"><img class="photo-logout" src="skenderbeu.jpg"> <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Profile</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Logout</a>
                            </li>
                            <li><a href="login.html">Login.html</a>
                            </li>
                            <li><a href="http://localhost/forum/src/main/resources/templates/signup.html">Signup</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="panel panel-default">
            <div class='panel-heading'>
                <div class='pull-left'>
                    <a href="#"><img class="img-responsive img-rounded photo-user" src="skenderbeu.jpg"> </a>
                </div>
                <h4><a href="#" class="profile-link">Rilind Pozhegu</a></h4>
                <br />
                <p class='right-notification-panel pull-right'>
                    <a href='#post_196897' name='post_196897' id='post_196897'>#1</a><a href='#top'><i class='entypo up-dir'></i></a>
                </p>
            </div>
            <div class='panel-body'>
                <div class='row'>
                    <div class='col-xs-12 col-sm-10 col-md-10 col-lg-10'>
                        <div class="post-time">
                            <p><small>Posted <abbr class='atooltip' data-toggle='tooltip' data-placement='top'>2 min. ago</abbr></small>
                            </p>
                        </div>
                        <div class="title-of-panel">Hi</div>
                        <br /> I would like to be able to display Accu-weather, or maybe Add Words in panels on my site. I was thinking this would just be a case of pasting the HTML in to a new custom panel..
                        <br /> Wrong! can anyone please tell me how to do this?
                        <br />
                        <br /> thanks
                    </div>
                    <div class='post-number-panel col-xs-9 col-sm-2 col-md-2 col-lg-2'>
                        <!--forum_thread_user_info-->
                        <p><strong>Posts:</strong> 3</p>
                        <p><strong>Joined:</strong> 15/01/2016</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class='panel-heading'>
                <div class='pull-left'>
                    <a href="#"><img class="img-responsive img-rounded photo-user" src="skenderbeu.jpg"> </a>
                </div>
                <h4><a href="#" class="profile-link">Rilind Pozhegu</a></h4>
                <br />
                <p class='right-notification-panel pull-right'>
                    <a href='#post_196897' name='post_196897' id='post_196897'>#1</a><a href='#top'><i class='entypo up-dir'></i></a>
                </p>
            </div>
            <div class='panel-body'>
                <div class='row'>
                    <div class='col-xs-12 col-sm-10 col-md-10 col-lg-10'>
                        <div class="post-time">
                            <p><small>Posted <abbr class='atooltip' data-toggle='tooltip' data-placement='top'>2 min. ago</abbr></small>
                            </p>
                        </div>
                        <div class="title-of-panel">Hi</div>
                        <br /> I would like to be able to display Accu-weather, or maybe Add Words in panels on my site. I was thinking this would just be a case of pasting the HTML in to a new custom panel..
                        <br /> Wrong! can anyone please tell me how to do this?
                        <br />
                        <br /> thanks
                    </div>
                    <div class='post-number-panel col-xs-9 col-sm-2 col-md-2 col-lg-2'>
                        <!--forum_thread_user_info-->
                        <p><strong>Posts:</strong> 3</p>
                        <p><strong>Joined:</strong> 15/01/2016</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class='panel-heading'>
                <div class='pull-left'>
                    <a href="#"><img class="img-responsive img-rounded photo-user" src="skenderbeu.jpg"> </a>
                </div>
                <h4><a href="#" class="profile-link">Rilind Pozhegu</a></h4>
                <br />
                <p class='right-notification-panel pull-right'>
                    <a href='#post_196897' name='post_196897' id='post_196897'>#1</a><a href='#top'><i class='entypo up-dir'></i></a>
                </p>
            </div>
            <div class='panel-body'>
                <div class='row'>
                    <div class='col-xs-12 col-sm-10 col-md-10 col-lg-10'>
                        <div class="post-time">
                            <p><small>Posted <abbr class='atooltip' data-toggle='tooltip' data-placement='top'>2 min. ago</abbr></small>
                            </p>
                        </div>
                        <div class="title-of-panel">Hi</div>
                        <br /> I would like to be able to display Accu-weather, or maybe Add Words in panels on my site. I was thinking this would just be a case of pasting the HTML in to a new custom panel..
                        <br /> Wrong! can anyone please tell me how to do this?
                        <br />
                        <br /> thanks
                    </div>
                    <div class='post-number-panel col-xs-9 col-sm-2 col-md-2 col-lg-2'>
                        <!--forum_thread_user_info-->
                        <p><strong>Posts:</strong> 3</p>
                        <p><strong>Joined:</strong> 15/01/2016</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class='panel-heading'>
                <div class='pull-left'>
                    <a href="#"><img class="img-responsive img-rounded photo-user" src="skenderbeu.jpg"> </a>
                </div>
                <h4><a href="#" class="profile-link">Rilind Pozhegu</a></h4>
                <br />
                <p class='right-notification-panel pull-right'>
                    <a href='#post_196897' name='post_196897' id='post_196897'>#1</a><a href='#top'><i class='entypo up-dir'></i></a>
                </p>
            </div>
            <div class='panel-body'>
                <div class='row'>
                    <div class='col-xs-12 col-sm-10 col-md-10 col-lg-10'>
                        <div class="post-time">
                            <p><small>Posted <abbr class='atooltip' data-toggle='tooltip' data-placement='top'>2 min. ago</abbr></small>
                            </p>
                        </div>
                        <div class="title-of-panel">Hi</div>
                        <br /> I would like to be able to display Accu-weather, or maybe Add Words in panels on my site. I was thinking this would just be a case of pasting the HTML in to a new custom panel..
                        <br /> Wrong! can anyone please tell me how to do this?
                        <br />
                        <br /> thanks
                    </div>
                    <div class='post-number-panel col-xs-9 col-sm-2 col-md-2 col-lg-2'>
                        <!--forum_thread_user_info-->
                        <p><strong>Posts:</strong> 3</p>
                        <p><strong>Joined:</strong> 15/01/2016</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="text-right center-block">
                <a href="#"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
                <a href="#"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
                <a href="#"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
                <a href="#"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        </div>
</body>
</html>