body {
    background-color: #484848;
    font-family: 'Open Sans';
    font-size: 16px;
}
.navbar-collapse {
    padding-top: 7px;
}
.logo-navbar {
    padding-left: 18px;
    padding-right: 5px;
    margin-bottom: 10px;
}
.logo-foum {
    height: 70px;
}
.navbar-form {
    margin-left: 10px;
}
@media screen and (max-width: 450px) {
    .navbar-form {
        margin-left: 0px;
    }
}
/*search form */

.icon-addon {
    position: relative;
    color: #555;
    display: block;
    padding-left: 15px;
}
@media screen and (max-width: 450px) {
    .icon-addon {
        position: relative;
        color: #555;
        display: block;
        padding-left: 0px;
    }
}
.icon-addon:after {
    clear: both;
}
.icon-addon.addon-md .glyphicon,
.icon-addon .glyphicon,
.icon-addon.addon-md .fa,
.icon-addon .fa {
    position: absolute;
    z-index: 2;
    left: 10px;
    font-size: 14px;
    width: 20px;
    margin-left: -2.5px;
    text-align: center;
    padding: 10px 0;
    top: 1px
}
.icon-addon.addon-lg .form-control {
    line-height: 1.33;
    height: 40px;
    font-size: 18px;
    padding: 10px 16px 10px 40px;
    width: 450px;
}
@media screen and (max-width: 450px) {
    .icon-addon.addon-lg .form-control {
        height: 40px;
        font-size: 18px;
        width: 300px;
    }
}
.icon-addon.addon-lg .fa,
.icon-addon.addon-lg .glyphicon {
    font-size: 18px;
    margin-left: 0;
    left: 25px;
    top: 2px;
}
@media screen and (max-width: 450px) {
    .icon-addon.addon-lg .fa,
    .icon-addon.addon-lg .glyphicon {
        font-size: 18px;
        margin-left: 0;
        left: 15px;
        top: 2px;
    }
}
.Shto-buton {
    width: 300px;
    height: 40px;
    background-color: #43707B;
    color: white;
    font-weight: bold;
    margin-left: 100px;
    margin-top: 0px;
}
.Shto-buton:hover {
    background-color: #333366;
    color: white;
    font-weight: bold;
}
.Shto-buton:focus {
    background-color: #333366;
    color: white;
    font-weight: bold;
}
@media screen and (max-width: 450px) {
    .Shto-buton {
        width: 300px;
        background-color: #43707B;
        color: white;
        font-weight: bold;
        margin-left: 0px;
        margin-top: 5px;
    }
}
.photo-logout {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}
.navbar-nav > li > a {
    padding-top: 5px;
    padding-bottom: 15px;
}
.navbar-form .form-control {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
}
.modal-title {
    text-align: center;
}
.module-butons {
    background-color: white;
    border: solid 1px black;
}
.module-butons:hover {
    background-color: white;
    border: solid 1px #333366;
    color: #43707B;
}
.img-dropdown:focus {
    background-color: red;
}
.photo-user {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}
.profile-link {
    font-weight: bold;
    padding-left: 10px;
    text-decoration: none;
    color: #43707B;
}
.profile-link:hover {
    font-weight: bold;
    padding-left: 10px;
    text-decoration: none;
    color: #43707B;
}
.post-time {
    color: #A0A0A0;
}
.title-of-panel {
    font-weight: bold;
}
.text-muted {
    text-align: right;
}
/*
    Panel
*/

.panel-heading {
    min-height: 70px;
    border-bottom: none;
}
.right-notification-panel {
    margin-top: -16px;
}
.post-number-panel {
    border-left: 1px dashed #ccc;
}
/*
    Social-NetWork's
*/

#social-fb:hover {
    color: #3B5998;
}
#social-tw:hover {
    color: #4099FF;
}
#social-gp:hover {
    color: #d34836;
}
#social-em:hover {
    color: #f39c12;
}
.center-block {
    display: block;
    margin-right: 10px;
    margin-left: auto;
}
@media screen and (max-width: 450px) {
    .center-block {
        display: block;
        margin-right: auto;
        text-align: center;
    }
}
/*slide-cover*/

.slider {
    max-width: 100%;
    height: 400px;
    position: relative;
}
@media screen and (max-width: 450px) {
    .slider {
        max-width: 100%;
        height: 150px;
        position: relative;
    }
}
.slide1,
.slide2,
.slide3,
.slide4,
.slide5 {
    position: absolute;
    width: 100%;
    height: 100%;
}
.slide1 {
    background: url(coverphotoforum.jpg)no-repeat center;
    background-size: cover;
    animation: fade 8s infinite;
    -webkit-animation: fade 8s infinite;
}
.slide2 {
    background: url(cover-photo-1.jpg)no-repeat center;
    background-size: cover;
    animation: fade2 8s infinite;
    -webkit-animation: fade2 8s infinite;
}
.slide3 {
    background: url(cover-photo-2.jpg)no-repeat center;
    background-size: cover;
    animation: fade3 8s infinite;
    -webkit-animation: fade3 8s infinite;
}
@keyframes fade {
    0% {
        opacity: 1
    }
    33.333% {
        opacity: 0
    }
    66.666% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
@keyframes fade2 {
    0% {
        opacity: 0
    }
    33.333% {
        opacity: 1
    }
    66.666% {
        opacity: 0
    }
    100% {
        opacity: 0
    }
}
@keyframes fade3 {
    0% {
        opacity: 0
    }
    33.333% {
        opacity: 0
    }
    66.666% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}
.footer {
    margin-top: 0px;
    margin-bottom: 20px;
}
.forum-rights {
    margin-top: 8px;
    color: white;
    padding-left: 0px;
}
.social-network {
    text-align: right;
}
.btn-reply {
    background-color: white;
    border: none;
    margin-top: 7px;
    color: #4f7080;
    font-weight: bold;
    outline: none;
}
.btn-reply:focus {
    border: none;
}
.btn-reply:active {
    border: none;
}
.slider-reply {
    max-width: 100%;
    height: 10px;
    border: none;
    box-shadow: none;
}
.input-text {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 1px #4f7080;
    width: 600px;
    outline: none;
    padding-left: 3px;
    background-color: #f5f5f5;
    border-radius: 0px;
}
/*
shigjeta ne reply
*/

.glyphicon-chevron-right {
    font-size: 11px;
    margin-left: 3px;
}
/*
Modal-repy
*/

.modal-reply {
    height: 500px;
}
.photo-user-modal {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-top: 10px;
    margin-left: 10px;
    padding-right: 1px;
}
.username-modal {
    font-weight: bold;
    text-decoration: none;
    color: #43707B;
}
.body-reply-modal {
    margin-bottom: 20px;
    font-size: 13px;
}
.panel-comment {
    border-radius: 0px;
    border-bottom: solid 2px #43707B;
    padding-left: 10px;
}
.post-time-modal {
    font-size: 10px;
    text-align: right;
    margin-bottom: 1px;
}