html,
body {
    margin: 0px;
    padding: 0px;
    font-family: arial;
    background-color: #f5f5f5;
}





/*-------------------*\
    Navigation bar
\*-------------------*/

.navbar {
    background-color: #484848;
    height: 70px;
}

.nav-logo img {
    width: 100px;
    height: 70px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
}





/*--------------------*\
       Login form
\*--------------------*/

.login-photo {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    margin-top: 20px;
}

.login-form {
    color: #919191;
    padding: 10px 20px;
}

.login-form p {
    margin-bottom: 5px;
}

.login-form-1 {
    width: 340px;
    border-radius: 5px;
    display: inline-block;
}

.main-login-form {
    position: relative;
    margin-top: 30px;
}

.login-form-1 .form-control {
    border: 0;
    box-shadow: 0 0 0;
    border-radius: 0;
    background: transparent;
    color: #555555;
    padding: 10px 0;
    font-weight: bold;
    height: auto;
}


.login-form-1 .form-group {
    margin-bottom: 0;
    border-bottom: 2px solid #efefef;
    padding-right: 20px;
    padding-top: 9px;
    position: relative;
}

.login-form-1 .form-group:last-child {
    border-bottom: 0;
}

.login-group {
    background: #ffffff;
    color: #999999;
    border-radius: 8px;
    padding: 10px 20px;
}

.login-group-checkbox {
    padding: 5px 0;
}

.login-form-personal {

}



/*-----------------------*\
    Login fomrm (panel)
\*-----------------------*/

.login-form-1 .login-button {
    position: absolute;
    right: -25px;
    top: 50%;
    background: #ffffff;
    color: #999999;
    padding: 11px 0;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    border: 5px solid #efefef;
    border-radius: 50%;
    transition: all ease-in-out 500ms;
}




/*-----------------------*\
    Social-Network-icons
\*-----------------------*/


#social-fb:hover {
    color: #3B5998;
}

#social-tw:hover {
    color: #4099FF;
}

#social-gp:hover {
    color: #d34836;
}

#social-em:hover {
    color: #f39c12;
}