<!DOCTYPE html>
<html>
<head>
	<title>Forum Profile</title>
</head>

<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link href="assets/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="profile.css">
<body>

    <!-- Header-Navigation-bar -->
    <nav class="navbar container-fluid">
	    <div class="container">
	        <div class="nav-logo">
	            <a href="http://localhost/forum/src/main/resources/templates/"><img src="logo-forum.png" />
	            </a>
	        </div>
	    </div>      
    </nav>

    <div class="container">
    	<div class="col-md-3 profile-picture-col">
    		<a href="#"><img src="skenderbeu.jpg"  class="profile-picture"></a>
    		<br>
    		<button class="upload-picture">Upload <i class="fa fa-picture-o"></i></button>
    	</div>
    	<div class="col-md-9">
    		<div class="biography-panel">
	    		<h3>User Biography:</h3>
	    		<p>Bootstrap user proflie template</p>
	    		<p>ver since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,</p>
    		</div> 	
		</div>

		<div class="col-md-12 update-body">

			<!-- Update yout personal Details -->
			<div class="col-md-6  update-details">

				<h3>Update your personal Details</h3>
				<form role="form">
			        <div class="form-group">
			    		<label>Registred Username:</label>
			    		<input type="text" class="form-control"/>
			  		</div>
			  	</form>
			
			  	<form role="form">
			        <div class="form-group">
			    		<label>Registred Name:</label>
			    		<input type="text" class="form-control"/>
			  		</div>
			  	</form>
			
			  	<form role="form">
			        <div class="form-group">
			    		<label>Registred E-mail:</label>
			    		<input type="text" class="form-control"/>
			  		</div>
			  	</form>
			  	<button type="button" class="btn btn-success">Update Details</button>
			</div>

			<!-- Change password -->
			<div class="col-md-6  update-password">

				<h3>Change your old password</h3>
				<form role="form">
			        <div class="form-group">
			    		<label>Enter Old Password:</label>
			    		<input type="password" class="form-control"/>
			  		</div>
			  	</form>
			
			  	<form role="form">
			        <div class="form-group">
			    		<label>Enter New Password:</label>
			    		<input type="password" class="form-control"/>
			  		</div>
			  	</form>
			
			  	<form role="form">
			        <div class="form-group">
			    		<label>Confirm New Password:</label>
			    		<input type="password" class="form-control"/>
			  		</div>
			  	</form>
			  	<button type="button" class="btn  btn-danger">Update Password</button>
			</div>

		</div>
    </div>
    <footer class="container-fluid ">
    	<div class="container  social-network">
    		<a href="#"><i id="social-fb" class="fa fa-facebook-square fa-2x social"></i></a>
            <a href="#"><i id="social-tw" class="fa fa-twitter-square fa-2x social"></i></a>
            <a href="#"><i id="social-gp" class="fa fa-google-plus-square fa-2x social"></i></a>
            <a href="#"><i id="social-em" class="fa fa-envelope-square fa-2x social"></i></a>
    	</div>
    </footer>
</body>

</html>