<!DOCTYPE html>
<html>

<head>
    <title>Register</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <!--  -->
    <link rel="stylesheet" type="text/css" href="login.css">
    <link rel="stylesheet" type="text/css" href="register.css">
</head>

<body>
    <nav class="navbar navbar-default container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="http://localhost:12/forum/src/main/resources/templates/">
                <div class="nav-logo">
                    <img src="http://www.clker.com/cliparts/1/d/7/e/12570918991185627521Ramiras_Earth_small_icon.svg.med.png">
                </div>
            </a>
        </div>
    </nav>
    <div class="body1 container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-1 label-names">
                <label>Name:</label>
            </div>
            <div class="col-md-5">
                <input type="text" class="form-control">
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-1 label-names">
                <label>Last name:</label>
            </div>
            <div class="col-md-5">
                <input type="text" class="form-control">
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-1 label-names">
                <label>E-mail:</label>
            </div>
            <div class="col-md-5">
                <input type="text" class="form-control">
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-1 label-names">
                <label>Password:</label>
            </div>
            <div class="col-md-5">
                <input type="password" class="form-control">
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-1 label-names">
                <label>Username:</label>
            </div>
            <div class="col-md-5">
                <input type="text" class="form-control">
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="butoni">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <a href="#">
                    <button type="button" class="btn btn-default Signup" data-toggle="modal" data-target="#myModal">Sign Up</button>
                </a>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</body>

</html>