.body1 {
	padding-top: 60px;
}
.label-names{
	text-align: right;
	padding-top: 5px;
}
@media screen and (max-width: 450px) {
   .label-names{
	text-align: left;
	padding-top: 5px;
}
}
.row {
	padding-top: 20px;
}

.Signup {
    width: 200px;
    height: 40px;
    background-color: #00C097;
    color: white;
    font-weight: bold;
    margin-left: 90px;
    margin-top: 0px;
}
@media screen and (max-width: 450px) {
  .Signup {
    width: 200px;
    height: 40px;
    background-color: #00C097;
    color: white;
    font-weight: bold;
    margin-left: 60px;
    margin-top: 0px;
}
}
.Signup:hover {
    background-color: #009966;
    color: white;
    font-weight: bold;
}
.Signup:focus {
    background-color: #009966;
    color: white;
    font-weight: bold;
}
.butoni{
	padding-top: 25px;
}