body, html{
    padding: 0px;
    margin: 0px;
}
.content {
    padding-top: 50px;
}
.label-names {
    text-align: right;
    padding-top: 5px;
}
@media screen and (max-width: 450px) {
    .label-names {
        text-align: left;
        padding-top: 5px;
    }
}
.row {
    padding-top: 20px;
}
.Signup {
    width: 200px;
    height: 40px;
    background-color: #43707B;
    color: white;
    font-weight: bold;
    margin-left: 90px;
    margin-top: 0px;
}
@media screen and (max-width: 450px) {
    .Signup {
        width: 200px;
        height: 40px;
        background-color: #43707B;
        color: white;
        font-weight: bold;
        margin-left: 60px;
        margin-top: 0px;
    }
}
.Signup:hover {
    background-color: #333366;
    color: white;
    font-weight: bold;
}
.Signup:focus {
    background-color: #333366;
    color: white;
    font-weight: bold;
}
.butoni {
    padding-top: 25px;
}